---
extends: default

ignore:
  - .venv/
  - .devbox/
  - roles/
  - playbooks/templates/
  - .ansible/
  - ansible_collections/

rules:
  comments-indentation: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  truthy: disable
  line-length: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
