---
- name: Prepare Patroni stack members
  hosts:
    - "{{ _patroni_cluster_hostgroup }}"
    - "{{ _patroni_standby_hostgroup }}"
    - "{{ _patroni_barman_hostgroup }}"
    - "{{ _patroni_haproxy_hostgroup }}"
    - "{{ consul_group_name }}"
  become: true
  vars_files:
    - main.yml
  roles:
    - nephelaiio.patroni.pgdg
  tasks:
    - name: Add host entries for cluster members
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: ".*{{ item }}.*"
        line: "{{ _member_address }} {{ _fqdn }} {{ _hostname }}"
      vars:
        _member_address: "{{ hostvars[item]['ansible_default_ipv4']['address'] }}"
        _fqdn: "{{ hostvars[item]['ansible_fqdn'] }}"
        _hostname: "{{ hostvars[item]['ansible_hostname'] }}"
      loop: "{{ ansible_play_hosts }}"
      when:
        - _patroni_config_hostnames
        - ansible_hostname != _hostname

    - name: Install yum prerequisites
      ansible.builtin.package:
        name:
          - yum-utils
          - python3-dnf-plugin-versionlock
          - acl
          - rsync
          - cronie
      when: ansible_os_family == 'RedHat'

    - name: Install apt prerequisites
      ansible.builtin.package:
        name:
          - acl
          - rsync
          - cron
      when: ansible_os_family == 'Debian'

    - name: Set patroni consul client members group
      ansible.builtin.set_fact:
        _patroni_consul_client_group: "{{ patroni_consul_client_group | default('patroni_cluster') }}"
        _patroni_consul_server_group: "{{ patroni_consul_server_group | default('patroni_consul') }}"
      delegate_facts: true
      delegate_to: localhost
