---
name: libvirt
on:
  pull_request:
    branches:
      - master
    paths:
      - "*"
      - "!README.md"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  libvirt:
    name: libvirt
    runs-on: libvirt
    strategy:
      matrix:
        scenario:
          - update
          - install
          - databases
          - fdw
        image:
          - https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img
    env:
      MOLECULE_OUTPUT_DIR: /tmp/logs
    steps:
      - name: Run devbox tests
        uses: pokerops/ansible-utils@master
        with:
          run: |
            make requirements test \
              MOLECULE_SCENARIO=${{ matrix.scenario }} \
              MOLECULE_KVM_IMAGE=${{ matrix.image }}

      - name: Upload install logs
        uses: actions/upload-artifact@v4
        with:
          name: install-${{ matrix.scenario }}-${{ matrix.image.distro }}.log
          path: |
            ${MOLECULE_OUTPUT_DIR}/*
          if-no-files-found: ignore
        if: always()
